<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website - Admin Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="topnav">
            <a href="/" style="padding-top: 0px; padding-right: 20px;"><img src="/image/logo.png" alt="logo.png" border="0"></a>
            <a class="active" href="/products">Products</a>
            <a href="/orders">Orders</a>
            <a href="/customer">Customer</a>
            <a href="/" onclick="let cf = confirm('Confirm Logout'); if (cf) localStorage.removeItem('jwt'); return cf" style="position: relative;  right: 0px;">Log out</a>
          </div>
    </header>
    <div class="main-container products-container">
       <div class="detail-product">
            <div class="detail-product-body">
                <div class="detail-product-detail">
                    <h2 id="product_name"><%= data.product_name %></h2>
                    <div class="detail-product-detail-infor">
                        <button class="img-tranfer" id="left"><</button>
                        <img src="<%= img[0].image_url %>" alt="" srcset="" id="img_product">
                        <button class="img-tranfer" id="right">></button>
                        <div class="price-in-stock">
                            <h4 id="category"><%= data.category_name %></h4>
                            <div class="price-instock-infor">
                                <h3>Price</h3>
                                <input type="text" id="product_price" value="<%= data.price.replace(/\B(?=(\d{3})+(?!\d))/g, '.') %>">
                            </div>
                            <div class="price-instock-infor">
                                <h3>In stock</h3>
                                <input type="text" id="in_stock" value="<%= data.in_stock_quantity %>">
                            </div>
                            <div class="product-operation">
                                <button type="button" id="Update">Update</button>
                                <button type="button" id="btnDelete">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
       </div>
    </div>
    
</body>
<script>
    const jwt = localStorage.getItem("jwt")

    var left = document.getElementById("left");
    var right = document.getElementById("right");
    var Update = document.getElementById("Update");
    var btnDelete = document.getElementById("btnDelete");

    var img_product = document.getElementById("img_product")
    var product_price = document.getElementById("product_price")
    var in_stock = document.getElementById("in_stock")

    var arrImg = []

    arrImg = arrayToUse = JSON.parse('<%- JSON.stringify(img)%>')
    console.log(arrImg)

    var newImgs = []
    for (let i = 0; i < arrImg.length; i++) {
        newImgs.push(arrImg[i].image_url);
    }
    console.log(newImgs);


    var data
    
    var count = 0;

    left.addEventListener("click", async function() {
        if (count == 0) {
            count = arrImg.length - 1;
        }
        else {
            count --;
        }   

        img_product.src = arrImg[count].image_url


    })

    right.addEventListener("click", async function() {
        if (count == arrImg.length - 1) {
            count = 0;
        }
        else {
            count ++;
        }   

        img_product.src = arrImg[count].image_url

        
    })

    Update.addEventListener("click", async function(){
        if(confirm("Update confirm")) {
            data = {
                product_id: Number('<%= data.product_id %>'),
                category_id: Number('<%= data.category_id %>'),
                product_name: String('<%= data.product_name %>'),
                price: Number(product_price.value.replace(/\./g, "")),
                in_stock_quantity: in_stock.value,
                image_urls: newImgs
            }
            console.log(data)
            var check = await fetch("http://localhost:4000/admin/product", {
                method: "PATCH",
                headers: {
                    "authorization": jwt,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })

            var d = await check.json();
            alert(d);
            window.location.reload(true);
        }        
    })

    btnDelete.addEventListener("click", async function(){
        if(confirm("Delete confirm")) {

            var check = await fetch("http://localhost:4000/admin/product/<%= data.product_id %>", {
                method: "DELETE",
                headers: {
                    "authorization": jwt,
                    "Content-Type": "application/json"
                }
            })

            var d = await check.json();
            alert(d);
            window.location = "http://localhost:1234/products"
        }        
    })

</script>
</html>