<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <header>
        <div class="topnav">
            <a href="/" style="padding-top: 0px; padding-right: 20px;"><img src="/image/logo.png" alt="logo.png" border="0"></a>
            <a class="active" href="/user/<%= userId%>/cart"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
            <a href="/user/<%= userId%>/orders"><i class="fa-solid fa-clipboard-list"></i> Orders</a>
            <a href="/user/<%= userId%>/profile"><i class="fa-solid fa-user"></i> Profile</a>
            <a href="/" onclick="let cf = confirm('Confirm Logout'); if (cf) localStorage.removeItem('jwt'); return cf" class="logout"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
          </div>
    </header>
    <div class="main-container">
        <div class="cart-container">
            <h2>Shopping Cart</h2>
            <% if (data.length > 0) { %>
                <h3><span><%= data.length%></span> items in your cart</h3>
            <% } %>
            <div class="cart-body">
                <form id="formCreateOrder">

                    <div class="head">
                        <label for="" style="margin-left: 20px;">Product</label>
                        <label for="" style="margin-left: 400px;">Price</label>
                        <label for="" style="margin-left: 120px;">Quantity</label>
                        <button type="button" class="creat-order" onclick="createOrder();">
                            <i class="fa-solid fa-dollar-sign"></i> Buy Now
                        </button>
                    </div>
                    <div class="cart-list-product">
                        <% for (let i = 0; i < data.length; i++) { %>
                            <div class="cart-product">
                                <img src="<%= data[i].image_url%>" alt="" srcset="">
                                <div class="name-category-product">
                                    <a href="/user/<%= userId%>/product/<%= data[i].product_id%>"><%= data[i].product_name%></a>
                                    <p><%= data[i].category_name%></p>
                                </div>
                                <label for=""><%= data[i].price.replace(/\B(?=(\d{3})+(?!\d))/g, '.')%></label>
                                <input type="number" id="quantity-<%= data[i].product_id%>" min="1" oninput="updateQuantity('<%= data[i].product_id%>')" value="<%= data[i].quantity%>">
                                <button type="button" onclick="deleteProduct('<%= data[i].product_id%>');"><i class="fa-solid fa-trash"></i></button>
                                <input type="checkbox" name="product-<%= data[i].product_id%>" class="checkbox">
                            </div>
                            <hr>
                        <% } %>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    
</body>
<script>
    const jwt = localStorage.getItem("jwt");

    const in_cart = 1;

    async function deleteProduct(id) {
        var url = "http://localhost:4000/user/cart/" + id;
        var check = await fetch(url, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
                "authorization": jwt
            },
            body: "",
        });

        var result = await check.json();
        alert(result);
        window.location.reload(true);
    }

    async function updateQuantity (id) {
        var quantity = document.getElementById("quantity-" + id);
        var data = {
            product_id: Number(id),
            quantity: Number(quantity.value)
        }
        var check = await fetch("http://localhost:4000/user/cart/", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
                "authorization": jwt
            },
            body: JSON.stringify(data),
        });

        var result = await check.json();
    }

    async function createOrder() {
        const form = document.getElementById('formCreateOrder');
        const checkboxes = form.querySelectorAll('.checkbox');
        const orderArray = [];
    
        checkboxes.forEach((checkbox) => {
            const productId = checkbox.getAttribute('name').replace('product-', '');
            const quantityInput = form.elements[`quantity-${productId}`];
    
            if (checkbox.checked && quantityInput) {
                const orderObject = {
                    product_id: productId,
                    quantity: quantityInput.value
                };
                orderArray.push(orderObject);
            }
        });
    
        if (orderArray.length === 0) {
            alert('There are no products selected');
        } else {
            var check = await fetch("http://localhost:4000/user/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "authorization": jwt
                },
                body: "",
            });
    
            var result = await check.json();
            if (result === "Your profile is fully set up") {
                orderArray.push(in_cart)
                const queryString = `?orderArray=${encodeURIComponent(JSON.stringify(orderArray))}`;
                window.location.href = `/user/<%= userId%>/create-order${queryString}`;
            } else {
                alert(result);
            }
        }
    }

</script>
</html>