<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <header>
        <div class="topnav">
            <a href="/" style="padding-top: 0px; padding-right: 20px;"><img src="/image/logo.png" alt="logo.png" border="0"></a>
            <a href="/user/<%= userId%>/cart"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
            <a  href="/user/<%= userId%>/orders"><i class="fa-solid fa-clipboard-list"></i> Orders</a>
            <a href="/user/<%= userId%>/profile"><i class="fa-solid fa-user"></i> Profile</a>
            <a href="/" onclick="let cf = confirm('Confirm Logout'); if (cf) localStorage.removeItem('jwt'); return cf" class="logout"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
          </div>
    </header>
    <div class="main-container">
        <div class="product-detail-container">
            <div class="image-container">
                <button class="prev-button" id="left"><i class="fa-solid fa-caret-left"></i></button>
                <img src="<%= arrImage[0].image_url%>" alt="Product Image" id="image-url">
                <button class="next-button" id="right"><i class="fa-solid fa-caret-right"></i></button>
            </div>
            <div>
                <h1><%= data.product_name%></h1>
                <div class="category-sold-container">
                    <p><%= data.category_name%></p>
                    <p>Sold <%= data.sold%></p>
                </div>
                <p class="price">Price: <%= data.price.replace(/\B(?=(\d{3})+(?!\d))/g, '.')%></p>
                <div class="quantity-container">
                    <h4>Quantity</h4>
                    <div class="quantity-input">
                        <button onclick="decrement()">-</button>
                        <input type="number" id="quantity" value="1" min="1" max="<%= data.in_stock_quantity%>">
                        <button onclick="increment()">+</button>
                    </div>
                    <h4 class="in-stock-container">In stock: <%= data.in_stock_quantity%></h4>
                </div>
                <div class="detail-product-operation-container">
                    <button type="button" class="btn-add-to-cart" id="btn-add-to-cart"><i class="fa-solid fa-cart-plus"></i> Add to cart</button>
                    <button type="button" class="btn-buy-now" id="btn-buy"><i class="fa-solid fa-dollar-sign"></i> Buy now</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script>

    const jwt = localStorage.getItem("jwt");

    var in_cart = 0;

    var img_product = document.getElementById("image-url")
    var left = document.getElementById("left");
    var right = document.getElementById("right");


    var add = document.getElementById("btn-add-to-cart");
    var buy = document.getElementById("btn-buy");
    var quantity = document.getElementById("quantity");

    var arrImg = []

    arrImg = arrayToUse = JSON.parse('<%- JSON.stringify(arrImage)%>')

    var count = 0;

    buy.addEventListener("click", async function() {
        const orderArray = [{
            product_id: '<%= data.product_id %>',
            quantity: quantity.value
        }, in_cart]
        const queryString = `?orderArray=${encodeURIComponent(JSON.stringify(orderArray))}`;
        window.location.href = `/user/<%= userId%>/create-order${queryString}`;
    })

    add.addEventListener("click", async function() {
        var data = {
            product_id: Number('<%= data.product_id %>'),
            quantity: Number(quantity.value)
        }
        console.log(data)
        var check = await fetch("http://localhost:4000/user/cart/", {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
                "authorization": jwt
            },
            body: JSON.stringify(data)
        });
        var result = await check.json();
        alert(result);
    })

    left.addEventListener("click", async function() {
        if (count == 0) {
            count = arrImg.length - 1;
        }
        else {
            count --;
        }   

        img_product.src = arrImg[count].image_url


    })

    right.addEventListener("click", async function() {
        if (count == arrImg.length - 1) {
            count = 0;
        }
        else {
            count ++;
        }   

        img_product.src = arrImg[count].image_url

        
    })

    function increment() {
        var quantityInput = document.getElementById('quantity');
        var currentValue = parseInt(quantityInput.value, 10);
        var maxValue = parseInt(quantityInput.getAttribute('max'), 10);
    
        if (currentValue < maxValue) {
            quantityInput.value = currentValue + 1;
        } else {
            alert("Value cannot be greater than " + maxValue);
        }
    }

    function decrement() {
        var quantityInput = document.getElementById('quantity');
        var currentValue = parseInt(quantityInput.value, 10);
        
        // Giảm giá trị không dưới 1
        if (currentValue > 1) {
            quantityInput.value = currentValue - 1;
        }
    }
</script>
</html>