<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website - Admin Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    
</head>

<body>
    <header>
        <div class="topnav">
            <a href="/admin" style="padding-top: 0px; padding-right: 20px;"><img src="https://img.upanh.tv/2023/11/25/logo.png" alt="logo.png" border="0"></a>
            <a href="/products">Products</a>
            <a  href="/orders">Orders</a>
            <a  href="/customer">Customer</a>
            <a href="/logout" onclick="return confirm('Confirm Logout')" style="position: relative;  right: 0px;">Log out</a>
          </div>
    </header>
    <div class="main-container">
        <div class="statistical" >
            <div class="sta-title">
                <div style="color: #747C91;">Statistical</div>
                <hr width="97%" align="left"/>
                <div class="sta-detail">
                    <div class="order">
                        <div class="s-name">Orders</div>
                        <div class="s-int"><%= data.totalOrders%></div>
                        <div class="s-per"><%= data.successOrderRate%>% <a>Success</a></div>
                    </div>
                    <div class="product">
                        <div class="s-name">Products</div>
                        <div class="s-int"><%= data.totalProduct%></div>
                    </div>
                    <div class="revenue">
                        <div class="s-name">Revenue</div>
                        <div class="s-money"><a>vnd</a> <%= data.totalRevenue%><a>M</a></div>
                    </div>
                </div>
            </div>


        </div>
        <div class="top-customer">
            <div class="top-customer-title">Top Buyer</div>
            <hr width="97%" align="left"/>
            <div class="top-head">
                <table frame="void">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th width="180px">Name</th>
                            <th>Expenditure</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < rankL; i++) { %> 
                            <% if (i == 0) { %>
                                <tr>
                                    <td class="gold"><%= i+1 %></td>
                                    <td width="180px"><%= rank[i].fN %></td>
                                    <td><%= rank[i].tE %></td>
                                </tr>
                            <% } %>
                            <% if (i == 1) { %>
                                <tr>
                                    <td class="silver"><%= i+1 %></td>
                                    <td width="180px"><%= rank[i].fN %></td>
                                    <td><%= rank[i].tE %></td>
                                </tr>
                            <% } %>
                            <% if (i == 2) { %>
                                <tr>
                                    <td class="copper"><%= i+1 %></td>
                                    <td width="180px"><%= rank[i].fN %></td>
                                    <td><%= rank[i].tE %></td>
                                </tr>
                            <% } %>
                            <% if (i > 2) { %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td width="180px"><%= rank[i].fN %></td>
                                    <td><%= rank[i].tE %></td>
                                </tr>
                            <% } %>
                            
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>