<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website - Admin Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="topnav">
            <a href="/" style="padding-top: 0px; padding-right: 20px;"><img src="https://img.upanh.tv/2023/11/25/logo.png" alt="logo.png" border="0"></a>
            <a href="/products">Products</a>
            <a class="active" href="/orders">Orders</a>
            <a href="/customer">Customer</a>
            <a href="/"  onclick="let cf = confirm('Confirm Logout'); if (cf) localStorage.removeItem('jwt'); return cf" style="position: relative;  right: 0px;">Log out</a>
          </div>
    </header>
    <div class="main-container">
        <div class="orders-container">
            <table>
                <thead>
                    <tr>
                        <th style="width: 30px">Order ID</th>
                        <th style="width: 200px">Customer</th>
                        <th style="width: 30px">Price</th>
                        <th style="width: 40px">Pay</th>
                        <th style="width: 60px">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><a href="/order/<%= data[i].order_id %>"><%= data[i].order_id %></a></td>
                            <td><a href=""><%= data[i].user_name %></a></td>
                            <td><%= data[i].total_price.replace(/\B(?=(\d{3})+(?!\d))/g, '.') %></td>
                            <td><%= data[i].payment_method %></td>
                            <td class="status"><div class="<%= data[i].status %>"><%= data[i].status %></div></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>